apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: alpaca-schedule-trader
  namespace: alpaca-trader
  annotations:
    k8s.ngrok.com/traffic-policy: google-oauth
spec:
  ingressClassName: ngrok
  rules:
  - host: alpaca-trader.ngrok.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: alpaca-schedule-trader
            port:
              name: http
---
apiVersion: ngrok.k8s.ngrok.com/v1alpha1
kind: NgrokTrafficPolicy
metadata:
  name: google-oauth
  namespace: alpaca-trader
spec:
  policy:
    on_http_request:
      - actions: # Phase 1 : Authenticate
        - type: oauth
          config:
            provider: google
      - expressions: # Phase 2 : Deny if not me
        - "!(actions.ngrok.oauth.identity.email in ['stmcallister@gmail.com','amber.mcallister@gmail.com'])"
        actions:
        - type: custom-response
          config:
            status_code: 403
            content: "Forbidden"